project/ximpvd/rng-bootstrap-new.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xim="http://ximdex.com/schema/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        	<start>
        		<element name="docxap">
   				<ref name="new.class"/>
        			<xim:description>Docxap</xim:description>
        		</element>
        	</start>
   
   		<define name="new.class">
   			<element name="new">
   				<attribute name="date"/>
   				<ref name="title.class" />
   				<optional>
                                <ref name="subtitle"/>
                              </optional>
				<ref name="paragraph.class"/>
				<zeroOrMore>
					<interleave>
						<optional>
<ref name="paragraph.class"/>
</optional>
						<optional>
<ref name="code.class" />
</optional>
						<optional>
<ref name="list.class"/> </optional>
						<optional>
<ref name="button.class" /> </optional>
					</interleave>
				</zeroOrMore>	
				<zeroOrMore>
					<ref name="image.class" />
				</zeroOrMore>			
				<zeroOrMore>
					<ref name="file.class" />
				</zeroOrMore>			
				<xim:description>Noticia</xim:description>
			</element>
		</define>

		<define name="title.class">
			<element name="title">
                          	<attribute name="type">
                                  <choice>
                                    <value type="string">text</value>
                                  </choice>
                          </attribute>
                               
				<text />
				<xim:description>Title</xim:description>
				<xim:default_content>[Title]</xim:default_content>
			</element>
		</define>

		<define name="subtitle.class">
			<element name="subtitle">
				<text />
				<xim:description>Subtitle</xim:description>
				<xim:default_content>[Subtitle]</xim:default_content>
			</element>
		</define>

		<define name="code.class">
			<element name="code">
				<text />                          
				<xim:description>Code</xim:description>
				<xim:default_content>[Code]</xim:default_content>
			</element>
		</define>

		<define name="button.class">
			<element name="button">
				<attribute name="text"/>
				<attribute name="icon">
					<choice>
						<value type="string">none</value>					
						<value type="string">calendar</value>					
						<value type="string">comment</value>					
						<value type="string">download</value>
						<value type="string">envelope</value>
						<value type="string">exclamation-sign</value>					
						<value type="string">file</value>
						<value type="string">filter</value>					
						<value type="string">home</value>					
						<value type="string">lock</value>
						<value type="string">off</value>
						<value type="string">ok</value>
						<value type="string">qrcode</value>
						<value type="string">refresh</value>
						<value type="string">remove</value>
						<value type="string">search</value>
						<value type="string">shopping-cart</value>				
						<value type="string">thumbs-down</value>						
						<value type="string">thumbs-up</value>					
						<value type="string">trash</value>					
						<value type="string">user</value>
					</choice>
				</attribute>
				<attribute name="type">
					<choice>
						<value type="string">default</value>
						<value type="string">primary</value>
						<value type="string">info</value>
						<value type="string">success</value>
						<value type="string">warning</value>
						<value type="string">danger</value>
						<value type="string">inverse</value>
					</choice>
				</attribute>
				<attribute name="size">
					<choice>
						<value type="string">none</value>
						<value type="string">large</value>
						<value type="string">small</value>
						<value type="string">mini</value>
					</choice>
				</attribute>
				<text/>
				<xim:description>Button</xim:description>
				<xim:default_content>[Button]</xim:default_content>
			</element>
		</define>

		<define name="list.class">
			<element name="list">
				<attribute name="type">
					<choice>
						<value type="string">description</value>
						<value type="string">horizontal-description</value>
						<value type="string">orderer</value>
						<value type="string">unorderer</value>
						<value type="string">unstyled</value>
					</choice>
				</attribute>
				<zeroOrMore>
					<interleave>
						<optional>
<ref name="item.class"/> </optional>
						<optional>
<ref name="item-header.class"/> </optional>
					</interleave>
				</zeroOrMore>
				<xim:description>List</xim:description>
			</element>
		</define>

		<define name="item.class">
			<element name="item">
				<zeroOrMore>
					<interleave>
						<optional> <ref name="bold.class" /> </optional>
						<optional> <ref name="italic.class" /> </optional>
						<optional> <ref name="link.class" /> </optional>
					</interleave>
				</zeroOrMore>
				<text/>
				<xim:description>Item</xim:description>
				<xim:default_content>[Item]</xim:default_content>
			</element>
		</define>

		<define name="item-header.class">
			<element name="item-header">
				<text/>
				<xim:description>Item header</xim:description>
				<xim:default_content>[Header]</xim:default_content>
			</element>
		</define>

		

		<define name="paragraph.class">
			<element name="paragraph">
                          	<attribute name="type">
                                  <choice>
                                    <value type="string">textarea</value>
                                  </choice>
                          </attribute>
				<attribute name="cols">
					<choice>
						<value type="string">1</value>
						<value type="string">2</value>
						<value type="string">3</value>
						<value type="string">4</value>
						<value type="string">5</value>
						<value type="string">6</value>
						<value type="string">7</value>
						<value type="string">8</value>
						<value type="string">9</value>
						<value type="string">10</value>
						<value type="string">11</value>
						<value type="string">12</value>
					</choice>				
				</attribute>
				<zeroOrMore>
					<interleave>
						<optional>
<ref name="bold.class"/> </optional>
						<optional>
<ref name="italic.class"/> </optional>
						<optional>
<ref name="link.class"/> </optional>
					</interleave>
				</zeroOrMore>
				<text/>	
				<xim:description>Paragraph</xim:description>
				<xim:default_content>[Paragraph]</xim:default_content>
			</element>
		</define>

		<define name="bold.class">
			<element name="bold">
				<text/>
				<xim:description>Bold</xim:description>
				<xim:type>apply</xim:type>
			</element>
		</define>

		<define name="italic.class">
			<element name="italic">
				<text/>
				<xim:description>Italic</xim:description>
				<xim:type>apply</xim:type>
			</element>
		</define>

		<define name="link.class">
			<element name="link">
				<attribute name="href"/>
				<attribute name="target">
					<choice>
						<value type="string">_blank</value>
						<value type="string">_self</value>
					</choice>
				</attribute>
				<text/>
				<xim:description>Link</xim:description>
				<xim:default_content>[Link]</xim:default_content>
				<xim:type>apply</xim:type>
			</element>
		</define>

		<!--ximlet de configuración -->
         <define name="config.class">
     		<element name="config">
     			<attribute name="main-color"/>
     			<attribute name="secundary-color"/>
     			<attribute name="font-color"/>
     			<optional>
     				<ref name="config-header.class"/>
                  </optional>
                  <optional>
      			    <ref name="config-container.class"/>
                  </optional>
                  <optional>
      			    <ref name="config-footer.class"/>
                  </optional>

     			<xim:description>Configuración</xim:description>
     		</element>
     	</define>
     	<define name="config-header.class">
     		<element name="config-header">
                      <attribute name="image" xim:type="imageSelector"/>
                      <attribute name="font-color" />
     			<attribute name="image-side">
     				<choice>
     					<value type="string">left</value>
     					<value type="string">right</value>
     				</choice>
     			</attribute>
     			<ref name="config-header-title.class"/>
     			<ref name="config-header-subtitle.class"/>
     			<ref name="config-breadcrumb.class"/>
                 <xim:description>Header</xim:description>
     		</element>
     	</define>
     	<define name="config-breadcrumb.class">
     		<element name="config-breadcrumb">
     			<attribute name="background-color"/>
     			<attribute name="font-color"/>
     			<attribute name="current-font-color"/>
     			<xim:description>Breadcrumb</xim:description>
     		</element>
     	</define>
     	<define name="config-header-title.class">
     		<element name="config-header-title">
     			<text/>
     			<xim:description>Title</xim:description>
     			<xim:default_content>[Title]</xim:default_content>
     		</element>
     	</define>
     	<define name="config-header-subtitle.class">
     		<element name="config-header-subtitle">
     			<text/>
     			<xim:description>Subtitle</xim:description>
     			<xim:default_content>[Subtitle]</xim:default_content>
     		</element>
     	</define>

     	<define name="config-container.class">
     		<element name="config-container">
     		    <attribute name="left_column" >
     				<choice>
     					<value type="string">Yes</value>
     					<value type="string">No</value>
     				</choice>
                 </attribute>
                 <attribute name="right_column" >
     				<choice>
     					<value type="string">Yes</value>
     					<value type="string">No</value>
     				</choice>
                 </attribute>
                 <ref name="config-left-column.class"/>
                 <ref name="config-main-column.class"/>
                 <ref name="config-right-column.class"/>
     			<text/>
     			<xim:description>Container</xim:description>
     			<xim:default_content>[Container]</xim:default_content>
     		</element>
     	</define>

             <define name="config-left-column.class">
     			<element name="config-left-column">
     				<text/>
     				<xim:description>Left Column</xim:description>
     				<xim:default_content>[Left Column]</xim:default_content>
     			</element>
             </define>

             <define name="config-main-column.class">
     			<element name="config-main-column">
     				<text/>
     				<xim:description>Main Column</xim:description>
     				<xim:default_content>[Main Column]</xim:default_content>
     			</element>
             </define>

             <define name="config-right-column.class">
     			<element name="config-right-column">
     				<text/>
     				<xim:description>Right Column</xim:description>
     				<xim:default_content>[Right Column]</xim:default_content>
     			</element>
             </define>

     		<define name="config-footer.class">
     			<element name="config-footer">
     				<attribute name="background-color"/>
     				<attribute name="font-color"/>
     				<xim:description>Footer</xim:description>
     				<xim:default_content>[Footer]</xim:default_content>
     			</element>
     		</define>
</grammar>